__pycache__/
.idea/
/panoramic-images/full-pano.png
/flask-app-backend.tar
/robot-radar-db.tar
/panoramic-images/image-backup/
/flask_session/
/panoramic-images/frontPicture.png
/panoramic-images/ninetyDegreesPicture.png
/panoramic-images/oneEightyDegreesPicture.png
/panoramic-images/twoSeventyDegreesPicture.png
